@import 'common.css';

.saucechart > svg.sc-root {
    .sc-visual-data-bar {
        background-image: linear-gradient(to top,
            color-mix(in srgb, var(--color), color-mix(in srgb, #777, transparent 50%) 80%),
            color-mix(in srgb, var(--color), color-mix(in srgb, #111, transparent 20%) 20%));
        border-radius: 0.28em 0.28em 0 0;
        transition:
            x var(--transition-duration) var(--transition-timing), 
            y var(--transition-duration) var(--transition-timing), 
            width var(--transition-duration) var(--transition-timing), 
            height var(--transition-duration) var(--transition-timing);
    }
}
