@import 'common.css';

.saucechart > svg.sc-root {
    .sc-visual-data-bar {
        transition-property: d;
        transition-timing-function: linear;
        transition-duration: var(--transition-duration);
        stroke: hsl(from var(--fg-color) h s l / 0.7);
    }
}
