@import 'common.css';

.saucechart > svg.sc-root {
    .sc-visual-data-bar {
        transition-property: x, y, width, height;
        transition-timing-function: linear;
        transition-duration: var(--transition-duration);
    }
}
