.saucechart {
    --transition-duration: 400ms;
    --tooltip-transition-duration: 100ms;
    --axis-padding: 0.5em;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;

    &.sc-darkmode {
        --fg-color: white;
        --bg-color: black;
        --shade-dir: -1;
    }
    &:not(.sc-darkmode) {
        --fg-color: black;
        --bg-color: white;
        --shade-dir: 1;
    }

    &.sc-disable-animation {
        --transition-duration: 0 !important;
        --tooltip-transition-duration: 0 !important;
    }

    .sc-root {
        width: 100%;
        height: 100%;
        stroke-width: 0.1em;
        font-size: calc(1em * var(--dpr, 1));
    }

    .sc-title {
        --padding-top: 0.2em;
        --padding-left: 0.28em;
        translate:
            calc(var(--plot-box-left) + var(--padding-left))
            calc(var(--plot-box-top) + var(--padding-top));
        alignment-baseline: before-edge;
        font-size: 0.70em;
        font-weight: 500;
        opacity: 0.6;
        pointer-events: none;
    }

    .sc-axis {
        --rotate: none;
        --rotate-dir: -1;

        .sc-baseline,
        .sc-tick {
            stroke: hsl(from var(--fg-color) h s calc(l + 30 * var(--shade-dir)) / 0.76);
        }

        .sc-baseline {
            stroke-width: 0.10em;
            stroke-linecap: round;
        }

        .sc-tick {
            stroke-width: 0.10em;
            stroke-linecap: round;
        }

        .sc-label {
            font-size: 0.86em;
            fill: hsl(from var(--fg-color) h s l / 0.86);
            transform-box: border-box;
            rotate: calc(var(--rotate) * var(--rotate-dir));
        }

        &.sc-y-axis {
            .sc-label {
                alignment-baseline: middle;

                &[data-position="0"] {
                    alignment-baseline: after-edge;
                }

                &[data-position="1"] {
                    alignment-baseline: before-edge;
                }
            }

            &.sc-right.sc-inside .sc-label,
            &:not(.sc-right):not(.sc-inside) .sc-label {
                translate: calc(-1 * var(--axis-padding)) 0;
                text-anchor: end;
                transform-origin: left center;
                transform-origin: 60% 70%;
            }
            &:not(.sc-right).sc-inside .sc-label,
            &.sc-right:not(.sc-inside) .sc-label {
                --rotate-dir: 1;
                translate: var(--axis-padding) 0;
                transform-origin: 20% 70%;
            }
        }

        &.sc-x-axis {
            .sc-label {
                --line-height-correction: 0.28em;
                text-anchor: middle;
                alignment-baseline: before-edge;

                &[data-position="0"] {
                    text-anchor: start;
                }
                &[data-position="1"] {
                    text-anchor: end;
                }
            }

            &:not(.sc-top):not(.sc-inside) .sc-label,
            &.sc-top.sc-inside .sc-label {
                translate: var(--x-offset, 0) calc(var(--axis-padding) - var(--line-height-correction));
                transform-origin: 80% 100%;

                &[data-position="0"] {
                    --x-offset: calc(0.5 * var(--axis-padding));
                }
                &[data-position="1"] {
                    --x-offset: calc(-0.5 * var(--axis-padding));
                }
            }
            &.sc-top:not(.sc-inside) .sc-label,
            &:not(.sc-top).sc-inside .sc-label {
                --rotate-dir: 1;
                translate: var(--x-offset, 0) calc(-1 * var(--axis-padding) + var(--line-height-correction));
                transform-origin: 80% 0%;
                alignment-baseline: after-edge;

                &[data-position="0"] {
                    --x-offset: calc(0.5 * var(--axis-padding));
                }
                &[data-position="1"] {
                    --x-offset: calc(-0.5 * var(--axis-padding));
                }
            }
        }
    }

    .sc-tooltips {
        display: contents;
    }

    .sc-tooltip-positioner {
        --viewport-margin: 2ch;
        --course-width: 10ch;
        pointer-events: none;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        translate: var(--x) var(--y);
        transition: translate var(--tooltip-transition-duration) linear;

        &:not(.sc-active) {
            opacity: 0;
            visibility: hidden;
            transition: opacity 1s, visibility 1s;
        }

        &.sc-disable-animation {
            --tooltip-transition-duration: 0 !important;
        }

        &[data-h-align="left"] {
            --x: max(var(--course-width) + var(--viewport-margin), var(--x-left));

            .sc-tooltip-box {
                left: -100%;
            }
        }
        &[data-h-align="right"] {
            --x: min(var(--x-right), 100vw - var(--course-width) - var(--viewport-margin));

            .sc-tooltip-box {
                left: 0;
            }
        }
        &[data-h-align="center"] {
            --x: max(var(--course-width) / 2 + var(--viewport-margin),
                     min(var(--x-center),
                         100vw - var(--course-width) / 2 - var(--viewport-margin)));

            .sc-tooltip-box {
                left: -50%;
            }
        }
        &[data-v-align="above"] {
            --y: var(--y-top);

            .sc-tooltip-box-wrap {
                bottom: 0;
            }
        }
        &[data-v-align="top"] {
            --y: var(--y-top);

            .sc-tooltip-box-wrap {
                top: 0;
            }
        }
        &[data-v-align="middle"] {
            --y: var(--y-center);

            .sc-tooltip-box-wrap {
                display: flex;
                height: 0;
                align-items: center;
                overflow: visible;
            }
        }
        &[data-v-align="bottom"] {
            --y: var(--y-bottom);

            .sc-tooltip-box-wrap {
                bottom: 0;
            }
        }
        &[data-v-align="below"] {
            --y: var(--y-bottom);

            .sc-tooltip-box-wrap {
                top: 0;
            }
        }
    }

    .sc-tooltip-graphics {
        pointer-events: none;

        .sc-line {
            stroke: hsl(from var(--fg-color) h s l / 0.7);
            stroke-width: 0.10em;
            stroke-dasharray: 0.15em;

            &.sc-horizontal {
                stroke-width: 0.10em;
                stroke-dasharray: 0.15em;
            }
        }

        circle.sc-highlight-dot {
            r: 0.22em;
            stroke-width: 0.08em;
            stroke: hsl(from var(--fg-color) h s calc(l + 10 * var(--shade-dir)) / 0.8);
            fill: hsl(from var(--fg-color) h s calc(l + 80 * var(--shade-dir)) / 0.9);
        }
    }

    .sc-tooltip-box-wrap {
        position: absolute !important;

        .sc-tooltip-box {
            position: relative !important;
        }
    }

    .sc-tooltip-box {
        margin: 6px 12px;
        pointer-events: all;
        font-size: 0.9em;
        border-radius: 0.12em;
        background-color: color-mix(in srgb, var(--bg-color), #d76b1380 20%);
        padding: 0.1em 0.3em;
        display: flex;
        flex-direction: column;
        border: 0.08em solid color-mix(in srgb, var(--fg-color), #5556 50%);
        box-shadow: 0.08em 0.08em 0.3em 0 #0005;
        width: max-content;
        max-width: 22ch;
        overflow: hidden;
        transition: left var(--tooltip-transition-duration) linear;

        &:empty {
            display: none;
        }

        .sc-tooltip-entry {
            --color-dot-size: 0.5em;
            padding: 0.15em 0.2em;
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;

            &::before {
                content: '';
                border-radius: var(--color-dot-size);
                width: var(--color-dot-size);
                height: var(--color-dot-size);
                display: block;
                margin-right: 0.3em;
                background-color: var(--color);
                border: 0.1em solid var(--fg-color);
                flex: 0 0 auto;
            }

            key {
                font-size: 0.92em;
                font-weight: 500;
                flex: 1 0 auto;
                margin-right: 0.24em;

                &:not(:empty)::after {
                    content: ':';
                }
            }

            key,
            value {
                font-variant-numeric: tabular-nums;
            }
        }
    }
}


.sc-plot-region {
    &:nth-of-type(1) {
        --color: red;
    }
    &:nth-of-type(2) {
        --color: gold;
    }
    &:nth-of-type(3) {
        --color: #2c2; /* green */
    }
    &:nth-of-type(4) {
        --color: #22b; /* blue */
    }
    &:nth-of-type(5) {
        --color: cyan;
    }
    &:nth-of-type(6) {
        --color: magenta;
    }
    &:nth-of-type(7) {
        --color: chartreuse;
    }
    &:nth-of-type(7) {
        --color: coral;
    }
}
