.saucechart {
    --transition-duration: 400ms;
    --tooltip-transition-duration: 100ms;
    --background-color: #fff;
    --shade-dir: 1;
    --axis-padding: 0.3em;
    width: 100%;
    height: 100%;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;

    &.disable-animation {
        --transition-duration: 0 !important;
        --tooltip-transition-duration: 0 !important;
    }

    &.darkmode {
        --background-color: #000;
        --shade-dir: -1;
    }

    .sc-title {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.8em;
        font-weight: 600;
        opacity: 0.7;
        font-variant: all-small-caps;
        font-family: sans-serif;
        pointer-events: none;
        padding: 0.2em;
        line-height: 0.9;
    }

    .sc-axis {
        .baseline {
            stroke: color-mix(in srgb, currentColor, transparent 80%);
            stroke-width: 0.12em;
            stroke-linecap: round;
        }

        .tick {
            stroke: color-mix(in srgb, currentColor, transparent 80%);
            stroke-width: 0.12em;
            stroke-linecap: round;
        }

        .label {
            font-size: 0.9em;
        }

        &.y-axis {
            .label {
                dominant-baseline: middle;
                &[data-pct="0"] {
                    dominant-baseline: no-change;
                }
                &[data-pct="1"] {
                    dominant-baseline: hanging;
                }
            }

            &:not(.right) .label {
                text-anchor: end;
                translate: calc(-1 * var(--axis-padding)) 0;
            }
            &.right .label {
                translate: var(--axis-padding) 0;
            }
        }

        &.x-axis {
            .label {
                dominant-baseline: text-before-edge;
                text-anchor: middle;
                translate: 0 var(--axis-padding);

                &[data-pct="0"] {
                    text-anchor: start;
                }
                &[data-pct="1"] {
                    text-anchor: end;
                }
            }
        }
    }

    .sc-tooltip-positioner {
        pointer-events: none;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        transition: translate var(--tooltip-transition-duration) linear;

        &:not(.active) {
            opacity: 0;
            visibility: hidden;
            pointer-events: none !important;
            transition: opacity 1s, visibility 1s;
        }

        translate:
            calc((var(--x) + var(--x-offset)))
            calc((var(--y) + var(--y-offset)));

        &[data-h-align="left"] {
            --x: var(--x-left);
            .sc-tooltip-box {
                left: -100%;
            }
        }
        &[data-h-align="right"] {
            --x: var(--x-right);
            .sc-tooltip-box {
                left: 0;
            }
        }
        &[data-h-align="center"] {
            --x: var(--x-center);
            .sc-tooltip-box {
                left: -50%;
            }
        }

        &[data-v-align="above"] {
            --y: var(--y-top);
            .sc-tooltip-box-wrap {
                bottom: 0;
            }
        }
        &[data-v-align="top"] {
            --y: var(--y-top);
            .sc-tooltip-box-wrap {
                top: 0;
            }
        }
        &[data-v-align="middle"] {
            --y: var(--y-center);
            .sc-tooltip-box-wrap {
                display: flex;
                height: 0;
                align-items: center;
                overflow: visible;
            }
        }
        &[data-v-align="bottom"] {
            --y: var(--y-bottom);
            .sc-tooltip-box-wrap {
                bottom: 0;
            }
        }
        &[data-v-align="below"] {
            --y: var(--y-bottom);
            .sc-tooltip-box-wrap {
                top: 0;
            }
        }
    }

    > svg.sc-root {
        stroke-width: 0.1em;
        font-size: calc(1em * var(--dpr, 1));

        svg.sc-plot-region {
            overflow: visible; /* positional only.. */
        }

        .sc-tooltip {
            &:not(.active) {
                display: none;
            }

            .line {
                opacity: 0.7;
                stroke: currentColor;
                stroke-width: 0.12em;
                stroke-dasharray: 0.25em;
                stroke-linecap: round;
                filter: drop-shadow(0 0 0.1em #8888);

                &.horizontal {
                    stroke-width: 0.10em;
                    stroke-dasharray: 0.20em;
                }
            }

            circle {
                r: 0.3em;
                stroke: currentColor;
                stroke-width: 0.05em;
                opacity: 0.8;
                fill: color-mix(in srgb, currentColor, transparent 70%);
            }
        }
    }

    .sc-tooltip-box-wrap {
        position: absolute !important;

        .sc-tooltip-box {
            position: relative !important;
        }
    }

    .sc-tooltip-box {
        margin: 6px 12px;
        pointer-events: all;
        font-size: 0.9em;
        border-radius: 0.28em;
        background-color: color-mix(in srgb, var(--background-color), #d76b1380 10%);
        padding: 0.1em 0.3em;
        display: flex;
        flex-direction: column;
        border: 0.08em solid color-mix(in srgb, currentColor, #7772 50%);
        box-shadow: 0.08em 0.08em 0.3em 0 #0005;
        width: max-content;
        max-width: 22ch;
        overflow: hidden;

        &:empty {
            display: none;
        }

        .sc-tooltip-entry {
            --color-dot-size: 0.5em;
            padding: 0.15em 0.2em;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            &::before {
                content: '';
                border-radius: var(--color-dot-size);
                width: var(--color-dot-size);
                height: var(--color-dot-size);
                display: block;
                margin-right: 0.3em;
                background-color: var(--color);
                border: 0.1em solid currentColor;
                flex: 0 0 auto;
            }

            key {
                font-weight: 600;
                flex: 1 0 auto;
                margin-right: 0.2em;
            }

            value {
                font-variant-numeric: tabular-nums;
            }
        }
    }
}

.sc-plot-region {
    &:nth-of-type(1) {
        --color: red;
    }
    &:nth-of-type(2) {
        --color: gold;
    }
    &:nth-of-type(3) {
        --color: #2c2; /* green */
    }
    &:nth-of-type(4) {
        --color: #22b; /* blue */
    }
    &:nth-of-type(5) {
        --color: cyan;
    }
    &:nth-of-type(6) {
        --color: magenta;
    }
    &:nth-of-type(7) {
        --color: chartreuse;
    }
    &:nth-of-type(7) {
        --color: coral;
    }
}
