.saucechart {
    --transition-duration: 400ms;
    --transition-timing: linear;
    --background-color: #fff;
    --shade-dir: 1;
    width: 100%;
    height: 100%;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;

    &.disable-animation {
        --transition-duration: 0 !important;
    }

    &.darkmode {
        --background-color: #000;
        --shade-dir: -1;
    }

    .sc-title {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.8em;
        font-weight: 600;
        opacity: 0.7;
        font-variant: all-small-caps;
        font-family: sans-serif;
        pointer-events: none;
        padding: 0.2em;
        line-height: 0.9;
    }

    .sc-tooltip-positioner {
        pointer-events: none;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;

        &:not(.active) {
            opacity: 0;
            visibility: hidden;
            pointer-events: none !important;
            transition: opacity 1s, visibility 1s;
        }
    }

    > svg.sc-root {
        stroke-width: 0.1em;
        font-size: calc(1em * var(--dpr, 1));

        svg.sc-plot-region {
            overflow: visible; /* positional only.. */
        }

        .sc-tooltip {
            &:not(.active) {
                display: none;
            }

            line {
                opacity: 0.7;
                stroke: currentColor;
                stroke-width: 0.10em;
                stroke-dasharray: 0.25em;
                stroke-linecap: round;
                filter: drop-shadow(0 0 0.1em #8888);

                &.horizontal {
                    stroke-width: 0.08em;
                    stroke-dasharray: 0.12em;
                }
            }

            circle {
                r: 0.3em;
                stroke: currentColor;
                stroke-width: 0.05em;
                opacity: 0.8;
                fill: color-mix(in srgb, currentColor, transparent 70%);
            }
        }
    }

    .sc-tooltip-box-wrap {
        position: relative !important;

        div.sc-tooltip-box {
            position: absolute !important;
        }
    }

    .sc-tooltip-box {
        --side-margin: 0.7em;
        top: 0.2em;
        pointer-events: any;
        font-size: 0.9em;
        border-radius: 0.28em;
        background-color: color-mix(in srgb, var(--background-color), #d76b1380 10%);
        padding: 0.1em 0.3em;
        display: flex;
        flex-direction: column;
        border: 0.08em solid color-mix(in srgb, currentColor, #7772 50%);
        box-shadow: 0.08em 0.08em 0.3em 0 #0005;
        width: max-content;
        max-width: 22ch;
        overflow: hidden;

        &.right {
            right: var(--side-margin);
        }
        &:not(.right) {
            left: var(--side-margin);
        }

        .sc-tooltip-entry {
            --color-dot-size: 0.5em;
            padding: 0.15em 0.2em;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            &::before {
                content: '';
                border-radius: var(--color-dot-size);
                width: var(--color-dot-size);
                height: var(--color-dot-size);
                display: block;
                margin-right: 0.3em;
                background-color: var(--color);
                border: 0.1em solid currentColor;
                flex: 0 0 auto;
            }

            key {
                font-weight: 600;
                flex: 1 0 auto;
                margin-right: 0.2em;
            }

            value {
                font-variant-numeric: tabular-nums;
            }
        }
    }
}

.sc-plot-region {
    &:nth-of-type(1) {
        --color: red;
    }
    &:nth-of-type(2) {
        --color: gold;
    }
    &:nth-of-type(3) {
        --color: #2c2; /* green */
    }
    &:nth-of-type(4) {
        --color: #22b; /* blue */
    }
    &:nth-of-type(5) {
        --color: cyan;
    }
    &:nth-of-type(6) {
        --color: magenta;
    }
    &:nth-of-type(7) {
        --color: chartreuse;
    }
    &:nth-of-type(7) {
        --color: coral;
    }
}
