@import 'common.css';

.saucechart.sc-linechart {
    --line-stroke-width: 0.1em;
    --marker-radius: 0.14em;
    --marker-stroke-width: 0.04em;

    .sc-data {
        transition-property: d;
        transition-timing-function: linear;
        transition-duration: var(--transition-duration);
    }

    .sc-visual-data-line {
        stroke: hsl(from var(--fg-color) h s calc(l + (15 * var(--shade-dir))) / 0.8);
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .sc-visual-data-line-markers {
        fill: none;
    }

    .sc-visual-data-line,
    .sc-visual-data-line-markers {
        font-size: 1em !important;  /* clip calcs depend on em being consistent with parent svg */
        stroke-width: var(--line-stroke-width);
    }

    .sc-visual-data-area,
    .sc-line-clip {
        x: var(--plot-box-left);
        y: calc(var(--plot-box-top) - (var(--line-stroke-width) / 2));
        width: var(--plot-width);
        height: calc(var(--plot-height) + (var(--line-stroke-width) / 2));
    }

    .sc-marker-line-clip {
        x: var(--plot-box-left);
        y: calc(var(--plot-box-top) - var(--marker-radius) - var(--marker-stroke-width) / 2);
        width: var(--plot-width);
        height: calc(var(--plot-height) + var(--marker-radius) + var(--marker-stroke-width) / 2);
    }

    .sc-visual-data-segment {
        transition-property: x, y, width, height;
        transition-timing-function: linear;
        transition-duration: var(--transition-duration);
    }

    .sc-line-marker {
        circle.sc-dot {
            r: var(--marker-radius);
            stroke-width: var(--marker-stroke-width);
            stroke: hsl(from var(--fg-color) h s calc(l + (15 * var(--shade-dir))) / 0.8);
            fill: hsl(from var(--fg-color) h s calc(l + (50 * var(--shade-dir))) / 0.8);
        }
    }

    .sc-brush {
        --brush-fade-delay: 200ms;  /* reduce flickering */

        &.sc-passive {
            pointer-events: none;

            .sc-brush-mask {
                --fill: color-mix(in srgb, hsl(from var(--fg-color) h s calc(l + (10 * var(--shade-dir))) / 0.5), var(--color) 20%);
            }
        }

        &:hover {
            --brush-fade-delay: 0s;

            .sc-brush-mask,
            .sc-brush-handle {
                fill: var(--emphasis-fill);
                stroke: var(--emphasis-stroke);
            }

            .sc-brush-mask {
                clip-path: none;
            }
        }

        .sc-brush-mask,
        .sc-brush-handle {
            transition:
                fill 200ms var(--brush-fade-delay),
                stroke 200ms var(--brush-fade-delay),
                x linear var(--transition-duration),
                var(--width-transition)
        }

        .sc-brush-mask {
            --width-transition: none;
            --fill: color-mix(in srgb, hsl(from var(--fg-color) h s calc(l + (10 * var(--shade-dir))) / 0.25), var(--color) 8%);
            --emphasis-fill: color-mix(in srgb, hsl(from var(--fg-color) h s calc(l + (30 * var(--shade-dir))) / 0.5), var(--color) 12%);
            --emphasis-stroke: hsl(from var(--fg-color) h s calc(l + (0 * var(--shade-dir))) / 0.8);

            cursor: grab;
            stroke-width: 0.04em;
            stroke: hsl(from var(--fg-color) h s calc(l + (10 * var(--shade-dir))) / 0.4);
            fill: var(--fill);
        }

        .sc-brush-handle {
            --width-transition: width linear var(--transition-duration);
            --emphasis-fill: hsl(from var(--fg-color) h s calc(l + (10 * var(--shade-dir))) / 0.7);
            --emphasis-stroke: none;

            cursor: ew-resize;
            fill: hsl(from var(--fg-color) h s calc(l + (0 * var(--shade-dir))) / 0);
        }
    }

    .sc-plot-region:not(.sc-brush-visible) .sc-brush {
        display: none;
    }

    &.sc-brushing {
        --transition-duration: 0;

        &.sc-sizing * {
            cursor: ew-resize !important;
        }

        &.sc-moving * {
            cursor: grabbing !important;
        }

        .sc-brush {
            .sc-brush-mask,
            .sc-brush-handle {
                fill: var(--emphasis-fill);
                stroke: var(--emphasis-stroke);
            }

            .sc-brush-mask {
                clip-path: none;
            }
        }
    }
}
