@import 'common.css';

.saucechart > svg.sc-root {
    stroke-width: 0.1em;

    .sc-data {
        transition: d var(--transition-duration) var(--transition-timing);
    }

    svg.sc-plot-region {
        overflow: visible; /* positional only.. */
    }

    .sc-visual-data-line {
        stroke: color-mix(in srgb, currentColor, grey 10%);
        opacity: 0.8;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .sc-visual-data-area,
    .sc-visual-data-segment {
    }

    .sc-visual-data-area {
        width: var(--group-width);
        height: var(--group-height);
        x: var(--group-x);
        y: var(--group-y);
    }

    .sc-visual-data-segment {
        width: var(--width);
        height: var(--height);
        x: calc(var(--group-x) + var(--x));
        y: calc(var(--group-y) + var(--y));
        transition:
            x var(--transition-duration) var(--transition-timing),
            y var(--transition-duration) var(--transition-timing),
            width var(--transition-duration) var(--transition-timing),
            height var(--transition-duration) var(--transition-timing);
    }

    .sc-line-marker {
        circle.sc-dot {
            r: 0.12em;
            stroke: currentColor;
            opacity: 0.8;
            fill: color-mix(in srgb, currentColor, transparent 50%);
        }
    }
}

.sc-plot-region {
    &:nth-of-type(1) {
        --color: red;
    }
    &:nth-of-type(2) {
        --color: gold;
    }
    &:nth-of-type(3) {
        --color: #2c2; /* green */
    }
    &:nth-of-type(4) {
        --color: #22b; /* blue */
    }
    &:nth-of-type(5) {
        --color: cyan;
    }
    &:nth-of-type(6) {
        --color: magenta;
    }
    &:nth-of-type(7) {
        --color: chartreuse;
    }
    &:nth-of-type(7) {
        --color: coral;
    }
}
